@import "/src/assets/styles/variables.scss";

.dialog {
     width: $dialog-width;
     display: flex;
     padding: 20px;
     align-items: center;
     flex-direction: column;

     &__header {
          font-size: $header-font-size;
          font-weight: bolder;
          color: $text-color;
     }

     &__text {
          font-weight: bold;
          font-size: $text-font-size-big;
          color: $text-color;

          &--green {
               color: $text-color-green;
          }

          &--red {
               color: $text-color-red;
          }
     }

     &__controls {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 10px;

          button {
               transition: all 100ms;

               &:hover {
                    transform: scale(1.1);
               }
          }
     }
}