$text-color: rgb(80, 80, 80);
$text-color-green: rgb(0, 100, 0);
$text-color-red: rgb(122, 39, 0);

$input-color: rgb(200, 200, 200);

$background-color: rgba(200, 200, 200, 0.5);

$btn-orange-color: rgba(255, 68, 0, 0.5);
$btn-orange-hover-color: rgba(255, 68, 0, 0.8);

$dialog-width: 300px;

$header-font-size: 1.9em;
$text-font-size-big: 1.5em;
$text-font-size: 1.3em;

$game-cell-size: 10vh;
